{{/* base_header.tmpl; header contents for base template */}}
{{define "base_header"}}
<header id="base_header">
<h1 id="header_link"><a href="{{with live}}http://www.hkjn.me{{else}}/webindex{{end}}">Henrik Jonsson</a></h1>
<nav role="navigation" id="mainnav">
<ul>
<li><a href="{{with live}}http://blog.hkjn.me{{else}}/blogindex{{end}}">Blog</a></li>
<li><a href="{{with live}}http://www.hkjn.me{{end}}/links">Links</a></li>
<li><a href="{{with live}}http://www.hkjn.me{{end}}/meta">Meta</a></li>
</ul>
</nav>
</header>
{{end}}
