{{/* index.tmpl; index for www.hkjn.me */}}
{{define "page_title"}}
About me
{{end}}

{{define "page_content"}}
<p>I like efficiency.</p>

<p>Things being broken or complex hinder efficiency, so I don't like
that, and try to push such systems toward non-brokenness and
simplicity, when I can.</p>

<p>I think refactoring old messy systems often is better than writing
new ones, when the systems are already large and complex.</p>

<p>I like computers to tell me what I need to know (such as when I
just broke something) rather than needing to search for answers.</p>

<p>I believe in optimizing processes and solid engineering to be
useful activities, over pushing for getting things done the
&ldquo;quick and dirty&rdquo; way.</p>

<p>I'm excited about the idea about constructing large complex systems
that are still very reliable and fast by composing small simple pieces
that can be understood separately.</p>
{{end}}
