{{/* index.tmpl; index for hkjn.me */}}
{{define "page_title"}}
About me
{{end}}

{{define "page_content"}}

<p>I like efficiency.</p>

<p>When things are broken, that wastes time, so I try to push such 
systems towards simplicity any way I can. Overly clever
solutions often are hard to understand and maintain. The simplest
system that works often is best.</p>

<p>I like computers to tell me what I need to know, like that I 
just broke something, rather than needing to search for answers.</p>

<p>I realize working in technology still is all about solving problems for
people, using systems and processes made by people.</p>

<p>I believe in optimizing processes and solid engineering as a good
way to spend our time, over pushing for getting things done the &ldquo;quick
and dirty way&rdquo;.</p>

<p>I'm all about the idea of building large complex systems that are still
reliable and fast by composing together small simple pieces, that make sense
individually.</p>

<p>The possibility of building decentralized, permissionless systems to do
things where we earlier needed large organizations intrigues me, and I
want to see where that will lead. This is the reason why I have spent
a lot of my time since 2014 learning about and building on Bitcoin, an
open protocol that anyone can participate in by running open-source code,
much like TCP/IP, but for money.</p>

<p>It doesn't take longer to send an email to someone in Australia, and we
use digital information to keep track of money and payments, so why does it feel
like we're stuck in the past whenever we interact with money? And why does
fiat money keep losing its value through inflation?</p>

<p>With Bitcoin, a SMS-sized amount of data can transfer billions of dollars
of value, not by authorizing the payment in some other system, but by providing
cryptographic signatures proving mathematically that your coin was spent.
You can <a href="https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki#abstract">generate
a dozen random English words</a>, which encode private keys that can hold any
amount of funds. You could hold this information in your head, or as a piece
of poetry written down, or on a small USB drive-like device like a hardware wallet.

The <a href="https://talks.hkjn.me/ln2018/ln.slide">Lightning Network</a>
provides higher scalability, and whatever trust- or identity-based systems
we're used to in society seems like they could transition to being based on
Bitcoin. You could have banks where you as a customer can verify that they
actually have your funds, or where there are multiple keys and timelocks
for the funds, so the decisions about who to trust with your money are
explicit.</p>

<p>Basically, I like using technology to help people get more freedom.
We should be able to conjure up tools that do our bidding as easily as
we can describe what our intent is. Thinking and communicating clearly
is the first step of this. A clear computer program ideally would be
something anyone who knows the domain can understand, whether they
are a developer or not.</p>

<p>Doing the same things over and over again is not
inspiring, so once we know what we want, it should be automated. If we
solve a problem once and implement it as code, that code can be used
by a billion people for basically no extra marginal cost.</p>

<p>Working on technology is a tremendous privilege and has vast leverage.
</p>
{{end}}
