{{/* index.tmpl; index for hkjn.me */}}
{{define "page_title"}}
About me
{{end}}

{{define "page_content"}}

<p>I like efficiency.</p>

<p>When things are broken, that wastes time, so I try to push such 
systems towards simplicity any way I can.</p>

<p>I like computers to tell me what I need to know, like that I 
just broke something, rather than needing to search for answers.</p>

<p>I realize working in technology still is all about solving problems for
people, using systems and processes made of people.</p>

<p>I believe in optimizing processes and solid engineering to be a good
way to spend our time, over pushing for getting things done the &ldquo;quick
and dirty way&rdquo;.</p>

<p>I'm all about the idea of building large complex systems that are still
reliable and fast by composing together small simple pieces that makes sense
individually.</p>

<p>The possibility of building decentralized, permissionless systems to do
things where we earlier needed large organizations intrigues me, and I
want to see where that will lead.</p>

{{end}}
