{{define "page_title"}}
Meta
{{end}}

{{define "page_content"}}
<p>This part of the website is about this website:</p>
<ul>
<li>Source code: <a href="https://github.com/hkjn/hkjnweb" target="_blank">https://github.com/hkjn/hkjnweb</a></li>
</ul>
{{end}}
