{{define "post_title"}}
Goodbye Google, Hello World
{{end}}

{{define "post_content"}}
<p>
As some of you reading this already know, I am quitting Google in a
few weeks to move back to Sweden.
</p>

<p>I moved to California from my native Sweden in 2010 to try life in
Silicon Valley. I started working for the startup <a
href="http://en.wikipedia.org/wiki/Slide.com"
target="_blank">Slide</a>, where I met some amazing people while doing
client-side programming of social games. In August 2010 Slide was
acquired by Google, and after some drifting backwards in the stack I
ended up within YouTube's monetization team, building machine learning
systems for the ads that keep the cat videos flowing. More recently,
I've been a part of the <a
href="https://www.google.com/search?q=site+reliability+engineer"
target="_blank">Site Reliability Engineering (SRE)</a> team
responsible for the care and feeding of the ads on google.com.</p>

<p>I've really loved my time at Google. It's really a quite
exceptional place, with a ridiculous concentration of smart people,
privileges and opportunities left and right, as well as a scale of
engineering problems that's hard to convey (back in ye olden days of
<a
href="http://youtube-global.blogspot.com/2012/01/holy-nyans-60-hours-per-minute-and-4.html"
target="_blank">2012</a>, YouTube had 4B videos being watched per
day), but for now I want to have more freedom over how I spend my
time, as well as where I'm spending it. Commutes are no fun, but road
trips are, to pick one example.</p>

<p> So what's next? In a few weeks, Aruna and I will go on a shorter
road trip in the US, after which we're planning to go to Sweden. We
still have the RV we used for <a
href="http://sultanjonssons.blogspot.com" target="_blank">last year's
travels</a>, which we want to use to explore some nice places in
northern Europe, and decide on where to live.</p>

<p>I have some ideas for technical projects I may pursue, but no
master plan for the next five years. My overall philosophy is more
oriented around values than goals - if I can do work that solves
problems for many people and contributes value, my belief is that the
logistics will sort themselves out.</p>

<p> We'll be in San Francisco May 21-25, so if you are in the area and
I've been remiss at making plans to meet up before we take off, drop
me a line.

Follow me and / or get in touch at any of the following channels:
</p>
<ul>
<li>Email: <a href="mailto:me@hkjn.me">me@hkjn.me</a></li>
<li>Google+: <a href="https://google.com/+HenrikJonsson" target="_blank">
google.com/+HenrikJonsson</a></li>
<li>Facebook: <a href="https://facebook.com/hekjon" target="_blank">facebook.com/hekjon</a></li>
<li>Twitter: <a href="https://twitter.com/hkjn" target="_blank">twitter.com/hkjn</a></li>
<li>LinkedIn: <a href="https://linkedin.com/in/hekjon" target="_blank">linkedin.com/in/hekjon</a></li>
<li>GitHub: <a href="https://github.com/hkjn" target="_blank">github.com/hkjn</a></li>
</ul>
{{end}}
