{{define "post_title"}}
Actively Irresponsible
{{end}}

{{define "post_content"}}
<p>
I <a href="/2014/04/Goodbye_Google_Hello_World">quit Google</a> back
at the end of April, after having been with them for almost four
years. During that time I got to work with some amazing folks in
YouTube and Search Ads. I never had any particularly interesting
grievances, and I'm not ruling out returning sooner or later. My
reasons for deciding to quit also seem to resonate with many &mdash;
living nearer my family in Sweden / Aruna's in Kazakhstan,
pursuing more freedom in time &amp; in space (where I can live and
travel, and how I allocate my time).</p>

<p>When talking to various folks since then, there almost invariably
comes a point in the conversation where they go &ldquo;so&hellip; what are
you going to do now?&rdquo;. This post attempts to describe some of my
thinking on this topic, introducing a phrase that I've been using
in one-on-one conversation with people; I am going to be
<em>Actively Irresponsible</em>.</p>

<p>By this I mean two things:</p>
<ul>
<li><em>Irresponsible:</em> I will aim to take on a minimum of
external responsibilities in the next several months, to allow me to
pursue ideas and projects I've been thinking and talking about for a
long time, but haven't been feasible for me to work on during
full-time employment at a major company.</li>
<li><em>Active:</em> I'm not planning to just rest on my
laurels. While I may be technically <em>arbetsl&ouml;s</em>
(<em>un</em>employed in Swedish, with the same literal meaning
as in English &mdash; without work), I much prefer the Norwegian
phrase for the same concept, which is
<em>arbeidsfri</em> &mdash; work<em>free</em>.
</li>
</ul>

<p>It goes without saying that I am enormously privileged to be in a
position where I don't need to immediately jump back into regular
employment on the terms of whoever will employ me, due to having some
savings and low expenses. I'm enormously appreciative of this
opportunity.</p>

<p>Of course the needle will swing back towards pragmatism and I'll
focus on making money as a primary goal and not just a nice
side-effectof other projects at some point, if savings run low and
depending on how things shake out. I hope to be able to do this on my
terms, though, without backing down from the other aims listed
below too much.</p>

<h1><a href="#doing_what" id="doing_what">Active doing what, then?</a></h1>
<p>Here I've described some of the things I am doing and planning to
be doing with my time in the near- to medium-term. Notably absent here
are concrete technical projects &mdash; those are for later posts,
but I hope my thinking here gives some flavor of what kinds of things
I'm thinking about.</p>

<h2><a href="#writing" id="writing">Writing</a></h2>
<p>I'm more and more realizing the value of being able to write well,
as a software engineer &amp; in general, and have not been doing
enough of it myself &mdash; especially in public.</p>

<p>I am a huge fan of Gwern Branwen's writings &amp; his philosophy
here, especially this bit (my emphasis):</p>
<ul><li>&ldquo;Half the challenge of fighting procrastination
is the pain of starting &mdash; I find when I actually get into the swing of
working on even dull tasks, it’s not so bad. So this suggests a
solution: never start. Merely have <strong>perpetual drafts</strong>, which one tweaks
from time to time. And the rest takes care of itself.&rdquo;<sup><a href="http://www.gwern.net/About"
target="_blank">1</a></sup></li></ul>

<p>I hope that my background and perspectives can be useful to some of
you, and that I can produce perpetual drafts on some topics of
interest.</p>

<p>I also think that my writing can serve purposes to myself as well,
revealing my thinking on topics at various times in the past &mdash;
hopefully I'll be able to eventually look back, cringe, and continue
&ldquo;making better mistakes tomorrow&rdquo;.</p>

<h2><a href="#digital_nomad" id="digital_nomad">Being a Digital Nomad</a></h2>
<p>I quite like meeting new people, and seeing the local area through
their eyes. Aruna and I have an older RV that we bought for our
travels last year, along with an array of electronics to support my
life in &ldquo;roaming mode&rdquo;. Not paying rent also helps lower
monthly expenses quite significantly. I'm writing this from the road,
in a cafè in southern Sweden. It's surprisingly comfortable living out of
the RV, assuming it's not too hot outside, and I hope to share some of
my setup here in case others find it useful.</p>

<p>We have a <a href="http://sultanjonssons.blogspot.com"
target="_blank">travel blog</a>, where Aruna writes fairly frequent
updates with photos, for anyone that's interested in the details.</p>

<p>The premise here is that most of the technical work I do should be
fairly location-independent &mdash; sure, <em>figuring out</em> what
work needs to be done is mostly a social process involving hallway and
after-hour conversations with folks, but the actual work and more
formal meetings seems perfectly doable from anywhere I can get a
decent Internet connection.</p>

<p>There's also the simple point that I plain
<em>like travelling</em>. It's astounding to me that it's only been
two months since my last day at Google, given 
<a href="http://sultanjonssons.blogspot.com/2014/05/on-our-way-to-portland-highway-5.html" target="_blank">how</a>
<a href="http://sultanjonssons.blogspot.com/2014/05/portland.html" target="_blank">much</a>
<a href="http://sultanjonssons.blogspot.com/2014/05/portland-day-5.html" target="_blank">beauty</a>
<a href="http://sultanjonssons.blogspot.com/2014/05/farewell-portland.html" target="_blank">we've</a>
<a href="http://sultanjonssons.blogspot.com/2014/05/oregon-coast-via-route-101.html" target="_blank">seen</a>
<a href="http://sultanjonssons.blogspot.com/2014/05/so-long-oregon-and-thanks-for-fish.html" target="_blank">and</a>
<a href="http://sultanjonssons.blogspot.com/2014/06/san-francisco-last-stop-in-us.html" target="_blank">people</a>
<a href="http://sultanjonssons.blogspot.com/2014/06/this-is-sweden-valkommen.html" target="_blank">we've</a>
<a href="http://sultanjonssons.blogspot.com/2014/06/our-travels-south-of-sweden.html"
target="_blank">met</a> &mdash; relativistic travel is all well and
good, but if you want to have a subjectively long lifespan, travel as
often as possible. My hope is to find a bridge between doing useful
&amp; rewarding work, while also living this way.
</p>

<h2><a href="#efficiency" id="efficiency">Improving the efficiency of my tools</a></h2>
<p>Like most technical workers, I have a setup in terms of editors,
tools, ways of working, etc. that's &ldquo;good enough&rdquo; to let
me get the job done, but I constantly feel that good engineering
principles &amp; my own design esthetics are in tension with
short-term delivery dates and the need to feel productive at
work. Without as much time pressures, I have no good excuse for ugly
hacks, but can step back and think through what it is I'm trying to
achieve, at least within areas that matter to me.</p>

<p>There still needs to be a reflective component in the process to
avoid putting oceans of time towards polishing insignificant details,
but I believe it could be a productive activity for me to try to
tackle problems that keep bugging me &mdash; if I hit upon something
that truly improves my own efficiency, I may not be the only one that
would benefit.</p>

<p>Some things I believe are important within this topic:</p>
<ul>
<li><em>Be data-driven:</em> The way to tell whether you are doing
things effectively is to quantify some metrics that track what you
care about &mdash; measure. Once you have a concrete number and agree
that the number going up would be a good thing, it's hard to argue
with results.  &ldquo;In God we trust, all others bring
data.&rdquo;<sup><a href="http://en.wikipedia.org/wiki/W._Edwards_Deming#cite_ref-learning_34-0"
target="_blank">2</a></sup> </li>
<li><em>Focus on the process:</em> Rather than evaluating how you're
performing on the basis of your current project, focus on how quickly
and how well you can push projects forward in general. If I manage to
build a cool app that makes some money, that would be nice, but if I
can eliminate a persistent source of distraction preventing me from
focusing, that may well pay off for years to come.</li>
<li><em>Manage information:</em> Data should never be unintentionally
lost, should always be secure, and should always be synchronized, so
you never get a stale version of something. You should have access to
the vast firehose of information on the net when you need it, but
should also be able to enter a flow state without distractions when
you need that. Many of these requirements are solved technical
problems, but our tools for the most part do not make use of the
solutions.</li>
</ul>

{{end}}
